html, body {
  width: 100%;
  height: 100%; 
  margin: 0;   
  padding: 0;   
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 100%; 
  position: absolute;
  background: transparent;  
}

.app {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
